.contact-info {
    padding: 20px;
}

.contact-info address p {
    margin: 5px 0;
}

.map {
    margin: 20px 0;
}

.employee-profiles {
    padding: 20px;
}

.employee-profiles .profiles {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    padding: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form button {
    padding: 10px;
    background-color: #007BFF; /* Example color */
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3; /* Darker shade for hover */
}



footer nav {
    display: flex;
    gap: 10px; /* Space between social icons */
}

footer nav a img {
    width: 40px;
}




